@font-face {
	font-family: "Roboto Condensed";
	src: url("./assets/fonts/RobotoCondensed-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");

body {
	height: 100vh;
	display: flex;
	/* align-items: center;
  justify-content: center; */
	background-color: #eeeeee;
	color: #333;
	margin: 0;
	font-family: "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
	font-family: "Orbitron";
	margin: 8px 0;
}

#root {
	width: 100%;
}

button {
	font-family: "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
}

::selection {
	color: white;
	background: #e6503f;
}

.typed-cursor {
	animation-name: blink;
	animation-delay: 0s;
	animation-direction: normal;
	animation-duration: 0.8s;
	animation-fill-mode: none;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
