@font-face {
  font-family: "Roboto Condensed";
  src: url("./assets/fonts/RobotoCondensed-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  height: 100vh;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background-color: #eeeeee;
  color: #666;
  margin: 0;
  font-family: "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

button {
  font-family: "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

::selection {
  color: white;
  background: #fa8072;
}
